@import '/src/sass/colors';

.WhatsappButton-Component {
    position: sticky;
    width: 5vw;
    min-height: 5vw;
    height: 5vw;
    left: 94.25vw;
    justify-content: center;
    align-items: center;
}