@import '/src/sass/colors';

.WhatsappButton-Component {
    position: sticky;
    width: 4.25vw;
    height: 4.25vw;
    left: 92.5vw;
    bottom: 5.5vw;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .WhatsappButton-Component {
        width: 15vw;
        height: 15vw;
        left: 84vw;
        bottom: 17vw;
    }
}