@import '/src/sass/colors';

.Cadastro-Page {
    height: max-content;
    overflow-x: hidden;

    .main-container {
        flex-direction: column;
        width: 100%;
        padding: 8vw 0;
        margin-top: 10vw;

        .content {
            width: 100%;
            padding-top: 5vw;
        }

        .pessoa-wrapper {
            flex-direction: column;
            justify-content: flex-start;
            gap: 5vw;
            height: max-content;

            .pessoa-container {
                flex-direction: column;
                justify-content: space-between;
                border: 2px solid $primary-color;
                // flex: 1;

                .text-container {
                    padding: 6vw 3vw 3vw;
                    flex-direction: column;
                    text-align: center;

                    h1 {
                        font-size: 6vw;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 6vw;
                    }
                }

                .chose-container {
                    svg {
                        width: 12vw;
                    }
                    
                    padding: 3vw;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .two-inputs {
            gap: 3vw;
        }
    }
}


@media (orientation: landscape) {
    .Cadastro-Page {

        .main-container {
            background-color: white;
            flex-direction: column;
            align-items: center;
            padding: 3vw 2vw;
        }
    
        .content {
            width: 100%;
            padding-top: 2vw!important;
        }
    
        .main-container {
            .pessoa-wrapper {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
        
                .pessoa-container {
                    border: 2px solid $primary-color;
                    flex: 0.45;
                    cursor: pointer;
        
                    .text-container {
                        flex: 0.75;
                        flex-direction: column;
                        padding: 2.5vw 2vw;
                        height: 100%;
                        justify-content: space-between;

                        h1 {
                            font-size: 2vw;
                            text-align: center;
                            margin-bottom: 1vw;
                        }
                    }
        
                    .chose-container {
                        width: 100%;
                        padding: 1vw;

                        svg {
                            width: 3vw;
                        }
                    }
                }
            }
        }
    }
}