@import '/src/sass/colors';

.Cadastro-Page {

    .main-container {
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        padding: 3vw 2vw;
    }

    .content {
        width: 100%;
        padding-top: 2.5vw;
    }

    .pessoa-wrapper {
        width: 100%;
        justify-content: space-between;

        .pessoa-container {
            flex-direction: column;
            border: 2px solid $primary-color;
            flex: 0.45;
            height: 25vw;
            cursor: pointer;

            .text-container {
                flex: 0.75;
                flex-direction: column;
                padding: 2.5vw 2vw;
            }

            .chose-container {
                flex: 0.25;
            }
        }
    }
}


    .Cadastro-Page {
        height: max-content;
        overflow-x: hidden;

        .main-container {
            width: 75vw;
            padding: 8vw 5vw;
            margin-top: 10vw;

            .pessoa-wrapper {
                flex-direction: row;
                justify-content: space-between;
               
                height: max-content;
                

                .pessoa-container {
                    flex-direction: column;
                    justify-content: space-between;
                    width:50%;
                    // flex: 1;

                    .text-container {
                       padding: 2.5vw 2vw;

                        h1 {
                            font-size: 2vw;
                            font-weight: 600;
                            text-align: left;
                        }
                    }

                    .chose-container {
                        svg {
                            width: 2.6vw;
                        }
                        width:100%;
                        justify-content: center;
                        align-items: center;
                        //width: fit-content;
                    }
                }
            }

            .two-inputs {
                gap: 3vw;
            }
        }
    }

