@import '/src/sass/colors';

.Done-Component {
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: $primary-color;
    text-align: center;
    gap: 5vw;
    padding-top: 10vh;
}