@import '/src/sass/colors';

.Login-Page {
    width: 100%;
    flex-direction: column;
    align-items: center;

    .back-container {
        color: white;
        align-self: flex-start;
        margin-left: 7vw;
        margin-top: -5vw;
        margin-bottom: 2vw;
        align-items: center;
        gap: 0.5vw;
        cursor: pointer;

        div {
            border-radius: 100%;
            border: 1px solid white;
            width: 2vw;
            height: 2vw;
            justify-content: center;
            align-items: center;
        }
    }

    .main-container {
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding: 5vw 0;

        form {
            width: 40%;

            label {
                cursor: pointer;
            }

            .bottom-container {
                margin-top: 1vw;
                width: 100%;
                gap: 5vw;
    
                > div {
                    flex: 0.5;
                    flex-direction: column;
                    gap: 1vw;

                    > p {
                        color: $graybutton-color;
                        cursor: pointer;
                    }

                    .remember-container {
                        align-items: center;
                    }

                }
                
                .button-container {
                    align-items: flex-end;

                    button {
                        flex: 1;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .Login-Page {
        height: 100vh;
        overflow-x: hidden;

        .main-container {
            flex-direction: column;
            justify-content: center;
            padding: 24vw 0 20vw;

            > svg {
                height: 35vw;
                margin-bottom: 7vw;
            }

            form {
                width: 80%;

                .user-input-container {
                    flex-direction: column;

                    input {
                        padding: 1vw;
                    }
                    
                }
                
                .password-input-container {
                    flex-direction: column;
                    margin: 2vw 0;
                    
                    input {
                        padding: 1vw;
                    }
                }
                
                .bottom-container {
                    justify-content: space-between;
                    margin-top: 4vw;

                    p {
                        font-size: 4vw;
                        margin-top: 1vw;
                    }

                    .remember-wrapper {
                        align-items: flex-start;

                        .remember-container {
                            flex-direction: column;
                            width: 100%;
                            margin-left: -0.6vw;

                            label {
                                margin-right: 0;
                                height: 4vw;
                                
                                span {
                                    font-size: 3.5vw;
                                    margin-left: -2vw;
                                }
                            }
                        }
                    }

                    .button-container {
                        justify-content: flex-end;

                        button {
                            font-size: 5vw;
                        }

                        p {
                            text-align: end;
                        }
                    }

                }

                .client-button {
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    
                    .or {
                        margin: 5vw;
                        color: $primary-color;
                        gap: 5vw;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        

                        > div {
                            flex-direction: column;
                            width: 100%;
                        }
                    }
                }

                .up-arrow {
                    z-index: 5;
                    position: absolute;
                    bottom: 5vw;
                    right: 5vw;
                }
            }
        }

        .Footer-Component {
            margin-top: auto;
        }
    }
}