@import '/src/sass/colors';

.Simulator-Component {
    height: 28vw;
    width: 100%;
    align-self: center;
    box-shadow: 0px 9px 15px 0px #00000040;
    margin-top: 1vw;
    margin-bottom: 11vw;

    .simulator-anchor {
        // height: 5vw;
        // width: 10vw;
        // background-color: green;
        position: absolute;
        margin-top: -10vw;
    }

    .simulator-header {
        justify-content: space-between;
    }

    h2 {
        font-size: 1.2vw;
    }

    label {
        font-size: 1.1vw;
    }

    .simulator-input {
        font-size: 1vw;
    }
    
    .white-container {
        background-color: white;
        flex-direction: column;
        padding: 2vw;
        color: $text-color;
        width: 40%;
        justify-content: space-between;

        h1 {
            font-size: 2vw;
            font-weight: 300;
        }

        // input {
        //     display: flex;
        //     padding: 0.5vw;
            font-size: 1.25vw;
        //     height: 2vw;
        // }
        
        .econ-wrapper {
            flex-wrap: wrap;
            
            .econ-container {
                flex-direction: column;
                width: 100%;
                border: 1px solid lighten($graybutton-color, 30);
                border-radius: 4px;
                align-items: center;
                padding: 1vw 0;

                h3 {
                    font-size: 1.5vw;
                    color: lighten($text-color, 20);
                    font-weight: 300;
                }
                
                h4 {
                    font-size: 1.5vw;
                    font-weight: 300;
                    color: lighten($text-color, 25);
                }

                p {
                    color: lighten($text-color, 25);
                    font-size: 1vw;
                }

                hr {
                    width: 50%;
                    margin: 1vw 0;
                }

                div {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

    }
    
        .blue-container {
            flex-direction: column;
            background-color: $primary-color;
            padding: 2vw;
            justify-content: space-between;
            width: 60%;

            h1 {
                text-align: center;
                color: white;
                font-size: 2vw;
                font-weight: 300;
            }

            .benefits-container {
                margin: auto;
                margin-bottom: 2.5vw;
                justify-content: space-between;
            }

            .simulator-signup-button {
                align-self: center;
                font-size: 1.2vw;
                color: $primary-color;
                background-color: white;
                padding: 0.5vw 2vw;
                width: fit-content;
            }

            .simulator-signup-button:hover {
                transform: scale(1.1);
            }
        }
}

.Benefits-Component {
    flex: 0.3;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    gap: 1vw;

    .benefits-header {
        align-items: center;
        flex-direction: column;
        gap: 1.5vw;
    }
    
    svg {
        height: 5vw;
        width: 5vw;
    }

    h2 {
        font-size: 1.2vw;
        font-weight: 300;
    }
    
    p {
        font-size: 1vw;
        color: lighten($text-color, 60);
        font-weight: 300;
    }
}

.horizontal-slider {
    display: flex;
    align-items: center;
}

.slider-track {
    background-color: white;
    height: 1vw;
    border: 1px solid black;
}

.slider-track.slider-track-0 {
    background: $primary-color;
  }

.slider-thumb {
    background: $primary-color;
    height: 1.7vw;
    width: 0.6vw;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    border-radius: 20%;
    font-size: 0.8vw;
}

@media only screen and (max-width: 600px) {
    
    .Simulator-Component {
        flex-direction: column;
        height: 300vw;
        margin-top: 6vw;

        label {
            font-size: 4vw;
        }

        .white-container {
            width: 100%;
            flex: 0.3;
            align-items: center;
            padding: 4vw;
            gap: 4vw;

            h1 {
                font-size: 6vw;
                margin-bottom: 0;
            }
    
            input {
                // padding: 2vw 1vw;
                font-size: 5vw;
                // height: 8vw;
                // width: 70vw;
            }

            .econ-wrapper {
                width: 100%;
                
                .econ-container {
                    padding: 4vw 0;
    
                    h3 {
                        font-size: 6vw;
                    }
                    
                    // h4 {
                    //     font-size: 5vw;
                    // }
    
                    p {
                        font-size: 5vw;
                    }
    
                    hr {
                        width: 50%;
                        margin: 2vw 0;
                    }

                    span {
                        font-size: 5vw !important;
                    }
                }
            }
        }

        .blue-container {
            flex: 0.7;
            padding: 4vw;
            justify-content: space-between;
            width: 100%;

            h1 {
                margin-top: 4vw;
                font-size: 6vw;
            }

            .benefits-container {
                flex-direction: column;
                margin: 0;
                margin-bottom: 2vw;
                gap: 12vw;
            }

            .simulator-signup-button {
                font-size: 4.5vw;
                color: $primary-color;
                background-color: white;
                padding: 3vw 6vw;
                margin-bottom: 8vw;
            }
        }       
    }

    .Benefits-Component {
        gap: 1vw;
        width: 100%;
    
        .benefits-header {
            gap: 0.5vw;
        }
        
        svg {
            height: 15vw;
            width: 15vw;
        }
    
        h2 {
            font-size: 5vw;
        }
        
        p {
            font-size: 4.5vw;
            line-height: 1.25;
        }
    }
}