@import '/src/sass/colors';

.Simulator-Component {
    height: 30vw;
    width: 80%;
    align-self: center;

    .left-container {
        flex: 0.6;
        background-color: $primary-color;
        padding: 3vw 5vw;
        align-items: center;
        justify-content: space-between;
    }

    .right-container {
        flex: 0.4;
        border: 1px solid red;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vw;
        padding-bottom: 1.5vw;
    }
}

.Benefits-Component {
    flex: 0.2;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    svg {
        filter: invert(1);
    }
}