@import '/src/sass/colors';

.Simulator-Component {
    height: 32vw;
    width: 100%;
    align-self: center;
    box-shadow: 0px 9px 15px 0px #00000040;
    margin-top: 1vw;
    margin-bottom: 11vw;

    .simulator-header {
        justify-content: space-between;
    }

    h2 {
        font-size: 1.2vw;
    }

    label {
        font-size: 1.1vw;
    }

    .simulator-input {
        font-size: 1vw;
    }
    
    .white-container {
        background-color: white;
        flex-direction: column;
        padding: 1.5vw 2vw;
        gap: 1vw;
        color: $text-color;
        width: 40%;
        
        .flags-container {
            flex-wrap: wrap;
            gap: 0.5vw;
            
            .flag-container {
                flex-direction: column;
                width: 48%;
                border: 1px solid grey;
                align-items: center;
                gap: 0.4vw;
                padding: 1vw 0;

                h3 {
                    font-size: 0.9vw;
                }

                p {
                    font-size: 0.8vw;
                }

                svg {
                    height: auto;
                    width: 2vw;
                }

                hr {
                    width: 50%;
                }

            }
        }

    }
    
        .blue-container {
            flex-direction: column;
            background-color: $primary-color;
            padding: 3vw;
            justify-content: space-between;
            width: 60%;

            .benefits-container {
                margin: auto;
                margin-bottom: 6vw;
                justify-content: space-between;
            }

            .simulator-signup-button {
                font-size: 1.2vw;
                color: $primary-color;
                background-color: white;
            }
        }

    .simulator-calculate-button {
        font-weight: 500;
        font-size: 1.2vw;
    }
}

.Benefits-Component {
    flex: 0.3;
    // width: 12vw;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    gap: 2vw;

    .benefits-header {
        align-items: center;
        flex-direction: column;
        gap: 0.5vw;
    }
    
    svg {
        height: 4vw;
        width: 4vw;
    }

    h2 {
        font-size: 1vw;
    }
    
    p {
        font-size: 1vw;
        color: lighten($text-color, 60);
        font-weight: 300;
    }
}

.horizontal-slider {
    display: flex;
    align-items: center;
}

.slider-track {
    background-color: white;
    height: 1vw;
    border: 1px solid black;
}

.slider-track.slider-track-0 {
    background: $primary-color;
  }

.slider-thumb {
    background: $primary-color;
    height: 1.7vw;
    width: 0.6vw;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    border-radius: 20%;
    font-size: 0.8vw;
}