@import '/src/sass/colors';

.BackgroundContainer-Component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .children {
        display: contents;
    }
}

@media only screen and (max-width: 600px) {
    .BackgroundContainer-Component {
        min-height: 100vh;
    }
}