@import './colors';

button {
    background-color: $primary-color;
    height: 3.25vw;
    padding: 1vw;
    border: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: darken($primary-color, 10%);
}