@import './colors';

button {
    background-color: $primary-color;
    font-size: 0.9vw;
    font-weight: 700;
    padding: 0.7vw 3vw;
    border: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: darken($primary-color, 10%);
}