$primary-color: #384974;
$text-color: #333333;
$background-color: #F3F3F3;
// $toolbar-color: #F5F5F5;
// $primary-color-dark: #094a6f;
// $title-color: #959595;
// $secondary-text-color: #6B6B6B;
// $line-color: #707070;
// $etiquetinha-publico: rgba(16, 141, 98, 0.5);
// $etiquetinha-privado: rgba(24, 16, 141, 0.5);

:export {
    background: $background-color;
    primary: $primary-color;
    text: $text-color;
}