$primary-color: #384974;
$text-color: #333333;
$yellow-text-color: #FFF493;
$background-color: #F3F3F3;
$darkbluebutton-color: #001448;
$graybutton-color: #737373;
$red: #E12454;

:export {
    background: $background-color;
    primary: $primary-color;
    primary_dark: $darkbluebutton-color;
    text: $text-color;
    gray: $graybutton-color;
    red: $red;
}