$primary-color: #384974;
$text-color: #333333;
$background-color: #F3F3F3;
$darkbluebutton-color: #001448;
$graybutton-color: #737373;

:export {
    background: $background-color;
    primary: $primary-color;
    text: $text-color;
}