@import '/src/sass/colors';

.Faq-Component {
    align-self: center;
    background-color: white;
    flex-direction: column;
    width: 100%;
    padding: 2vw;
    box-shadow: 0px 8px 16px 0px #00000040;

}