@import '/src/sass/colors';

.Faq-Component {
    align-self: center;
    background-color: white;
    flex-direction: column;
    width: 100%;
    padding: 2vw;
    box-shadow: 0px 8px 16px 0px #00000040;
    gap: 2vw;

    .contact {
        justify-content: space-between;

        button {
            width: 40%;
        }
    }

}

.Question-Component {
    flex-direction: column;
    gap: 1vw;
    
    .question {
        gap: 1vw;
        align-items: center;
        cursor: pointer;

        h3 {
            font-weight: normal;
        }
    }

    .Collapsible {
        display: flex;
        flex-direction: column;
    }

    p {
        padding-left: 3vw;
        margin-top: 0.7vw;
        opacity: 0.7;
    }
}