@import '/src/sass/colors';

$dash-length: 1vw;
$dash-spacing: 1vw;

.Fatura-Component {
    flex-direction: column;
    width: 100%;

    .UploadContainer-Component {
        flex-direction: column;

        .dropzone {
            position: relative;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10vw 5vw;
            
            .upload-container {
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            
            .file-container {
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
    
            }
          
        }
    }

    .buttons-container {
        margin-top: 2vw;
        width: 100%;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .Fatura-Component {

        gap: 2vw;

        h1 {
            font-size: 6vw;
        }

        .dropzone {

            .upload-container {
                text-align: center;
                color: $primary-color;

                svg {
                    width: 20vw;
                    height: auto;
                }
            }
        }

        .buttons-container {
            width: 100%;
            height: max-content;
            justify-content: space-between;
            gap: 3vw;
            margin-top: 7vw;
            
            button {
                flex: 1;
                font-size: 6vw;
                height: auto;
                padding: 2vw 5vw;
            }
        }
    }
}