@import '/src/sass/colors';

$dash-length: 0.3vw;
$dash-spacing: 0.3vw;

.Fatura-Component {
    flex-direction: column;
    width: 100%;

    .fatura-uploads {
    width: 100%;
    justify-content: space-between;

        .UploadContainer-Component {
            flex-direction: column;
            color: $primary-color;
            font-weight: 400;
            width: 35vw;

            h1 {
                font-size: 2vw;
            }

            .upload-container {
                flex-direction: column;
                align-items: center;
                font-size: 1vw;
            }

            .dropzone {
                position: relative;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5vw;
            }
        }
    }

    .buttons-container {
        margin-top: 2vw;
        width: 100%;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .Fatura-Component {

        gap: 2vw;

        h1 {
            font-size: 6vw;
            color: $text-color;
        }

        .dropzone {

            .upload-container {
                text-align: center;
                color: $primary-color;
                flex-direction: column;
                align-items: center;

                svg {
                    width: 20vw;
                    height: auto;
                }
            }
        }

        .uploaded-container {
            width: 100%;
            flex-direction: column;
            gap: 3vw;

            .file-container {
                width: 100%;
                justify-content: space-between;
                align-items: center;

                > p {
                    width: 30vw;
                    text-align: center;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow:    ellipsis;
                }

                button {
                    background-color: white;
                    color: $primary-color;
                    border: 0.5vw solid $primary-color;
                    padding: 1vw 4vw;
                    font-size: 3.5vw;
                    
                }
            }
        }

        
    }
}