@import '/src/sass/colors';

.SignContract-Page {
    width: 100vw;
    overflow-x: hidden;
    padding: 15vw 10vw;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3vw;

        .upload-container {
            width: 100%;
            flex-direction: column;
            align-items: center;
            border: 1px dashed grey;
            text-align: center;

            h3 {
                color: $primary-color;
            }
        }
    }

    .Token-Component {
        flex-direction: column;
        gap: 3vw;

        .token-chars {
            gap: 1vw;
        }

        input:focus {
            border-color: lighten($primary-color, 10);
            caret-color: lighten($primary-color, 10);
        }
    }

    .Signed-Component {
        width: 100%;
        flex-direction: column;
        align-items: center;
        color: $primary-color;
        text-align: center;
        gap: 5vw;
        padding-top: 10vh;

    }
}