@import '/src/sass/colors';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button,
input[type=number]::spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.SignContract-Page {
    width: 100vw;
    overflow-x: hidden;
    padding: 15vw 5vw;

    .rubric-container {
        border: 1px dashed black;
    }

    .safe-environment-statement {
        justify-content: center;
        margin-top: 4vw;
        align-items: center;

        .padlock-icon {
            width: 5vw;
            margin-right: 2vw;
        }

        .safe-environment-p {
            font-size: 4vw;
            color: lighten($text-color, 50)
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3vw;

        .upload-container {
            width: 100%;
            flex-direction: column;
            align-items: center;
            border: 1px dashed grey;
            text-align: center;

            h3 {
                color: $primary-color;
            }
        }
    }

    .Token-Component {
        flex-direction: column;
        align-items: center;
        gap: 3vw;
        width: 100%;

        h3 {
            text-align: center;
        }

        .token-insert-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4vw;
            gap: 3vw;
            background: rgba(56, 73, 116, 0.25);
            padding: 3vw;
        }
        .token-chars {
            gap: 1vw;
        }
        
        input:focus {
            border-color: lighten($primary-color, 10);
            caret-color: lighten($primary-color, 10);
        }
        
        .code-container {
            display: flex!important;
            justify-content: space-between;
            gap: 2vw;
        }

        .insert-token {
            color: $text-color;
        }
       
        .resend-token-button{
            color: $primary-color;
            text-decoration: underline;
        }
    }

    .Signed-Component {
        width: 100%;
        flex-direction: column;
        align-items: center;
        color: $primary-color;
        text-align: center;
        gap: 5vw;
        padding-top: 10vh;

    }
}