@import '/src/sass/colors';

.Dashboard-Component {
    width: 100%;
    height: 100vh;
    padding-top: 5vw;
    background-color: $primary-color;
    
    .Sidebar-Component {
        background-color: $darkbluebackground-color;
        flex-shrink: 0;
        color: white;
        width: 20%;
        flex-direction: column;
        padding: 1vw 3vw;

        .title {
            font-size: 1.5vw;
        }

        .list {
            flex-direction: column;
            padding-left: 2vw;
            
            .link {
                font-size: 1vw;
                font-weight: normal;
                cursor: pointer;
            }
        }
    }

    .content-container {
        width: 100%;
        background-color: white;

        > div {
            width: 100%;
            flex-direction: column;
            padding: 2vw 4vw;

            > div, > form {
                padding: 1vw 2vw;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);

            }
        }

        .Contracts-Component {
            gap: 2vw;
            overflow-y: auto;

            .contract-container {
                flex-shrink: 0;
                color: #333333;
                align-items: center;

                .title {
                    font-weight: bold;
                }

                .info {
                    margin-left: auto;
                    align-items: center;
                    gap: 2vw;

                    .data {
                        flex-direction: column;
                        text-align: end;
                        font-size: 0.9vw;
                        
                    }
                    
                    .value {
                        flex-direction: column;
                        text-align: end;
                        font-size: 1vw;
                    }
                }
            }
        }

        .Contract-Component {
            gap: 3vw;

            .info-container {
                width: 100%;
                padding: 2vw;
                gap: 3vw;
                
                > div {
                    flex-direction: column;
                    gap: 1vw;
                    width: 50%;

                    input {
                        padding: 1vw;
                    }

                    .number-district {
                        width: 100%;
                        gap: 1vw;
                    }
                }
            }

            .seller-container {
                width: 100%;
                padding: 2vw;
                justify-content: space-between;
                align-items: center;

                .text {
                    flex-direction: column;

                }
            }
        }

        .Profile-Component {
            width: 100%;
            gap: 2vw;
            
            .main-container {
                width: 100%;
                gap: 1vw;
                
                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 1vw;
                    
                    button {
                        align-self: flex-end;
                    }
                }
            
            }            
        }

        .Rate-Component {
            position: relative;
            overflow-y: auto;
            width: 100%;
            
            form{
                display: flex;
                padding: 2vw;
                flex-direction: column;
                width: 100%;
                gap: 1vw;
            }
            
            button {
                position: absolute;
                bottom: 28vw;
                font-weight: 700;
                right: 4vw;
                width: 20%;
            }

            p{
                font-weight: 700;
                font-size: 1.3vw;
                color: #333333;
            }
  
        }

        .NewSeller-Component {
            gap:2vw;
            overflow-y: auto;
    
    
            form {
                padding: 0;
                gap:2vw;
                display: flex;
                flex-direction: column;
                box-shadow: none;
            }
 
            
            .form {
                padding: 1vw;
                display: flex;
                width: 100%;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
                
              
                > div {
                    flex-direction: column;
                    width: 100%;
                    gap: 1vw;
                    padding: 1.0vw;
                }

                .infoComplement{
            
                    width: 100%;
                }

                .two-inputs {
                    gap: 1vw;
                }
               
            }

            .biometry{
                padding: 2vw;
                border: 0.015vw dashed;
                height: 10.53vw;
            }   

            .title{
                font-weight: 500;
                font-size: 1.1vw;
            }

            .subtitle{
                font-weight: 300;
                color: #33333380;
                font-size: 0.9vw;
            }

            .info{
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
                flex-direction: column;
                width: 100%;
                padding: 2vw;
                height: auto;
                gap: 1vw;
            
            }
            
            .info-container{
                box-shadow: none;
                padding: 0;
                gap: 2vw;
            }
            
            .others{
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
                padding: 2vw;
                flex-direction: column;
                gap: 1vw;
            }

            button {
                position: relative;
                bottom: 1vw;
                font-weight: 700;
                left: 54.3vw;
                width: 20%;
            }
        }

        .Sellers-Component {
            gap: 2vw;
            overflow-y: auto;

            .sellers-list {
                flex-direction: column;
                gap: 1vw;

                .seller-container {
                    flex-shrink: 0;
                    color: #333333;
                    align-items: center;
                    justify-content: space-between;
    
                    .title {
                        font-weight: bold;
                        width: 20%;
                        text-overflow: ellipsis;
                        white-space: nowrap;  
                        overflow: hidden;
                    }
    
                    .data {
                        flex-direction: column;
                        font-size: 0.9vw;
                        width: 25%;
                        white-space: nowrap;
                        
                    }
                }
            }
        }

        .Seller-Component {
            gap: 2vw;
            overflow-y: auto;

            .info-container {
                gap: 1vw;

                .data-container {
                    flex-direction: column;
                    width: 100%;
                    gap: 1vw;
                    align-self: flex-end;

                    .number-district {
                        gap: 1vw;
                    }
                }
            }

            .password-container {
                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1vw;

                    button {
                        width: 20%;
                        align-self: flex-end;
                    }
                }
            }

                
                .contract-container {
                    justify-content: space-between;
                    flex-shrink: 0;
                    color: #333333;
                    align-items: center;

                    .title {
                        font-weight: bold;
                    }

                    .info {
                        margin-left: auto;
                        align-items: center;
                        gap: 2vw;
    
                        .data {
                            flex-direction: column;
                            text-align: end;
                            font-size: 0.9vw;
                            
                        }
                        
                        .value {
                            flex-direction: column;
                            text-align: end;
                            font-size: 1vw;
                        }
                    }
                }
        }
    }
}