@import '/src/sass/colors';

.loading-screen {
    position: absolute;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

    background-color: rgba($background-color, 0.8);
}