@import "/src/sass/colors";

.home-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    color: $primary-text-color;

    // h1 {
    //     font-weight: normal;
    // }

    .background-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        width: 70%;
        height: 35.3vw;
        border-radius: 1.5vw;
        padding: 0.4vw;

        .main-container {
            flex: 0.7;
            display: flex;
            flex-direction: column;
            background-color: white;
            // width: 100%;
            height: 100%;
            padding: 4.5vw 4vw;
            border-radius: 1.5vw;
            align-items: center;
            color: $primary-text-color;

            .titles {
                display: flex;
                width: 100%;
                font-size: 1.55vw;

                > h1:first-of-type {
                    color: $secondary-text-color;
                }

                > h1:last-of-type {
                    color: rgba($primary-text-color, 0.5);
                    transition: 0.3s;
                    cursor: pointer;
                }

                > h1:last-of-type:hover {
                    color: $primary-text-color;
                }

                > hr {
                    margin: 0 2vw;
                    border: transparent;
                    border-left: 2px solid $line-color;
                }

            }

            > p {
                margin: 1.5vw 0;
                font-size: 1vw;
            }

            > form {
                display: flex;
                flex-direction: column;
                gap: 0.8vw;
                width: 100%;

                > input {
                    color: $primary-text-color;
                }

                > label {
                    color: $primary-text-color;
                    font-weight: bold;
                }

                > button {
                    margin-top: 1vw;
                }
            }

            p:last-of-type {
                color: rgba($primary-text-color, 0.5);
                transition: 0.3s;
                cursor: pointer;
                margin-top: 1.2vw;
                font-size: 1vw;
                font-weight: bold;

            }

            p:last-of-type:hover {
                color: $primary-text-color;
            }
        }

        img {
            flex: 0.3;
            object-fit: cover;
            padding: 0.5vw;
            width: 30%;
            height: auto;
        }
    }
}