@import '/src/sass/colors';

.HowWorks-Component::after {
}

.HowWorks-Component {
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    color: $text-color;
    padding-bottom: 3.8vw;
    padding-top: 4.5vw;

    h1 {
        color: $text-color;
    }

    hr {
        height: 2vw;
        border: none;
        border-left: 1px solid $text-color;
        opacity: 0.7;
    }

    .background-container {
        position: absolute;
        left: -10vw;
        z-index: -2;
        width: 100vw;
        background-color: $background-color;
    }

    .white-background {
        position: absolute;
        background-color: white;
        left: -10vw;
        top: 0.75vw;
        width: 100vw;
        z-index: -1;

        transform: skew(0, -12deg);
    }

    .blue-background {
        position: absolute;
        background-color: $primary-color;
        left: -10vw;
        top: 1vw;
        width: 100vw;
        height: 25vw;
        z-index: -1;

        transform: skew(0, 12deg);
    }
}

.HowItem-Component {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;

    h3 {
        width: 40%;
        color: $text-color;
    }

    p {
        font-size: 14px;
        opacity: 0.7;
    }

    .left {
        width: 50%;
        position: absolute;
        left: 0;
        justify-content: flex-end;
        padding-right: 5vw;
        padding-left: 10vw;
    }
    
    .right {
        width: 50%;
        position: absolute;
        right: 0;
        padding-left: 5vw;
        padding-right: 10vw;
    }
}