@import '/src/sass/colors';

.HowWorks-Component::after {
}

.HowWorks-Component {
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    color: $text-color;
    padding-bottom: 3.8vw;
    padding-top: 4.5vw;

    h1 {
        color: $text-color;
    }

    hr {
        height: 2vw;
        border: none;
        border-left: 2px solid $text-color;
        opacity: 0.5;
    }

    .background-container {
        position: absolute;
        left: -10vw;
        z-index: -2;
        width: 100vw;
        background-color: $background-color;
        box-shadow: inset 0 0 2vw 1vw #00000050;
    }

    .white-background {
        position: absolute;
        background-color: white;
        left: -10vw;
        top: 0.75vw;
        width: 100vw;
        z-index: -1;
        box-shadow: 0 1vw 2vw 0 #00000040;

        transform: skew(0, -10deg);
    }

    .blue-background {
        position: absolute;
        background-color: $primary-color;
        left: -10vw;
        top: 1vw;
        width: 100vw;
        height: 25vw;
        z-index: -1;

        transform: skew(0, 12deg);
    }
}

.HowItem-Component {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h3 {
        color: $text-color;
    }

    p {
        font-size: 0.9vw;
        opacity: 0.7;
    }

    .how-item-icon{
        margin: auto;
    }

    .left {
        width: 50%;
        position: absolute;
        left: 0;
        justify-content: flex-end;
        text-align: end;
        padding-right: 3vw;
    }
    
    .right {
        width: 50%;
        position: absolute;
        right: 0;
        padding-left: 3vw;
    }
}