@import '/src/sass/colors';

.WhoGets-Component {
    position: relative;
    align-self: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 12vw;

    h1 {
        font-size: 2.25vw;
        margin-bottom: 2vw;
        font-weight: normal;
    }

    .main-container {
        margin-top: 3vw;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .white-background {
        position: absolute;
        background-color: white;
        left: -10vw;
        top: -5vw;
        height: 20vw;
        width: 100vw;
        z-index: -1;
        box-shadow: 0 0 2vw 0 #00000040;

        transform: skew(0, -10deg);
    }

    .blue-background {
        position: absolute;
        background-color: $primary-color;
        right: -10vw;
        top: 1vw;
        width: 48vw;
        height: 20vw;
        z-index: -1;

        transform: skew(0, 12deg);
    }

}

.CustomerPic-Component {
    display: block;
    width: 11vw;
    height: 11vw;
    margin: 0 auto;
    transform: rotate(45deg);
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 #00000040;

    img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.42);
    }
}
