@import '/src/sass/colors';

.Contact-Component {
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 16px 0px #00000040;
    padding: 2vw;
    margin-bottom: -2vw;

    button {
        width: 40%;
        padding: 0.5vw 0;
    }

    .info {
        flex-direction: column;
        background-color: $primary-color;
    }

    .title {
        width: 100%;
        justify-content: space-between;
    }
}

.InputField-Component {
    flex-direction: column;
}