@import '/src/sass/colors';

.Header-Component {
    position: relative;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-size: 1.25vw;
    z-index: 5;
    width: 100%;
    margin-bottom: 10vw;

    .logo {
        position: absolute;
        top: 11vw;
        width: 20vw;
        height: fit-content;
    }

    .top-container {
        position: absolute;
        left: 17vw;
        top: 5vw;
        gap: 0.5vw;
        color: white;
        cursor: pointer;
        z-index: 6;

        svg {
            margin: 0vw;
            height: 2vw;
            width: auto;
        }
    }


    .top-triangle {
        position: absolute;
        border-top: 0 solid transparent;
        border-bottom: 10vw solid transparent;
        border-right: 120vw solid $primary-color;
        margin-right: 5vw;
        margin-top: -1vw;
    }

    .bottom-triangle {
        position: absolute;
        border-top: 0 solid transparent;
        border-bottom: 15vw solid transparent;
        border-left: 150vw solid $darkbluebackground-color;
        margin-left: 0;
        z-index: -1;
    }

    .white-triangle {
        position: absolute;
        border-bottom: 0 solid transparent;
        border-top: 15vw solid transparent;
        border-right: 150vw solid white;
        margin-left: 0vw;
    }
}

@media only screen and (max-width: 600px) {
    .Header-Component {
        height: 15vw;
        margin: 0;
        margin-bottom: 15vw;
        padding: 10vw 0;
        position: relative;
        align-self: flex-start;

        .logo {
            display: none;
        }
        
        .top-container {
            position: absolute;
            height: 100%;
            color: white;
            align-self: flex-start;
            margin-left: 7vw;
            margin-top: 5vw;
            align-items: center;
            gap: 2vw;
            cursor: pointer;
            font-size: 5vw;
            font-weight: 400;

            .back-arrow-container {
                svg {
                    height: 7vw;
                    width: 7vw;
                    margin: 1vw;
                }
            }
        }

        svg {
            height: 25vw;
            margin: 8vw;
        }

        .top-triangle {
            position: absolute;
            border-top: 0 solid transparent;
            border-bottom: 24vw solid transparent;
            border-right: 120vw solid $primary-color;
            margin-right: 20vw;
            margin-top: -14.5vw;
        }

        .bottom-triangle {
            position: absolute;
            border-top: 10vw solid transparent;
            border-bottom: 35vw solid transparent;
            border-left: 250vw solid $darkbluebackground-color;
            margin-left: 0vw;
            z-index: -1;
        }
    }
}