@import '/src/sass/colors';

.Progress-Component {
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .container {
        width: 5vw;
        background-color: white;
        border: 0.2vw $primary-color solid;
        flex: 0.28;
        padding: 0.5vw;
        justify-content: center;
        color: $primary-color;
        z-index: 2;
    }

    .progress-bar {
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;

        .wrapper {
            width: 100%;
            border: 3px solid $primary-color;
        }
        
    }

}

@media only screen and (max-width: 600px) {
    .Progress-Component {
        .container {
            height: 15vw;
            align-items: center;
            text-align: center;
            font-size: 4vw;
        }

        .progress-bar {

            .wrapper {
                border: 1px solid $primary-color;
                height: 3vw;
            }
        }
    }
}