@import '/src/sass/colors';

.Advert-Component {
    margin-top: 4vw;
    align-items: center;
    color: white;
    height: 36vw;
    width: 100%;
    margin-bottom: 12vw;
    position: relative;
    justify-content: space-between;
    
    .left {
        flex: 0.4;
        flex-direction: column;
        gap: 1vw;
        
        h1 {
            font-size: 4vw;
            margin-top: -1vw;
            margin-bottom: -2vw;
        }
            
        h3 {
            margin-top: 1vw;
            margin-right: 3vw;
            font-size: 3vw;
            // color: $yellow-text-color;
        }
        
        p {
            font-size: 2vw;
            color: white;
        }
        
        .advert-buttons-container {
            width: 100%;
            justify-content: space-between;

            > * {
                background-color: white;
                color: $primary-color;
                padding: 0.75vw;
                margin-top: 1.5vw;
                padding: 0.5vw 2.75vw;
            }
        }

        a {
            background-color: $primary-color;
            font-size: 0.9vw;
            font-weight: 700;
            padding: 0 3vw;
            border: none;
            color: white;
            transition: 0.3s;
            cursor: pointer;
            text-decoration: none;
        }
        
        a:hover {
            background-color: darken($primary-color, 10%);
        }
    }

    .right {
        flex: 0.45;
        flex-direction: column;
        padding-top: 1vw;

        .images-container {
            justify-content: space-between;

            .large-image-container{
                flex: 0.49;
                
                img {
                    width: 20vw;
                }
            }
            
            .small-images-container {
                flex: 0.49;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 15vw;
                }
            }
        }

        p {
            font-size: 1vw;
        }
    }
}