@import '/src/sass/colors';

.Advert-Component {
    margin-top: -3.75vw;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    margin-bottom: 6vw;

    h2 {
        font-size: 1.6vw;
        text-align: center;
        margin-top: 2vw;
        margin-bottom: 1vw;

        span {
            color: $yellow-text-color;
        }
    }

    p {
        font-size: 1vw;
        color: white;
        margin-bottom: 1.5vw;
    }

    .blue-box {
        background-color: $primary-color;
        padding: 2vw;
        flex-direction: column;
        width: 30vw;
        box-shadow: 0 2px 2px #000000;
        margin-right: auto;

        h1 {
            font-size: 4vw;
            margin-top: -1vw;
            margin-bottom: -2vw;
        }
            
        h3 {
            margin-top: 1.5vw;
            font-size: 2vw;
            color: $yellow-text-color;
        }

        button {
            background-color: white;
            color: $primary-color;
            padding: 0.75vw;
            margin-top: 1.5vw;
        }
    }

    .white-box {
        flex-direction: column;
        background-color: white;
        width: 40vw;
        padding: 1vw;
        margin-left: auto;

        h2 {
            color: #333333;
        }

        p {
            color: $graybutton-color;
        }
    }

    .buttons {
        gap: 0.5vw;

        a {
            display: flex;
            text-decoration: none;
            color: white;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            font-size: 0.9vw;
            font-weight: 700;
            border: none;
            color: white;
            transition: 0.3s;
            cursor: pointer;
        }

        a:hover {
            background-color: darken($primary-color, 10%);
        }

        * {
            padding: 0.4vw 8vw;
        }
    }
}