@import '/src/sass/colors';

.Advert-Component {
    margin-top: -1.5vw;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    gap: 1vw;

    h1 {
        font-size: 5vw;
        margin-bottom: -1vw;
    }

    h2 {
        font-size: 1.5vw;
    }

    p {
        font-size: 1vw;
        color: white;
    }

    .buttons {
        gap: 1vw;

        a {
            display: flex;
            text-decoration: none;
            color: white;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            font-size: 0.9vw;
            font-weight: 700;
            padding: 0.7vw 3vw;
            border: none;
            color: white;
            transition: 0.3s;
            cursor: pointer;
        }

        a:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}