@import '/src/sass/colors';

.Footer-Component {
    width: 100%;
    background-color: $primary-color;
    flex-direction: column;
    padding: 2vw 10vw;
    margin-top: auto;
    font-size: 1vw;

    .top-content {
        padding: 1.5vw 0;

        .info {
            flex-direction: column;
            border-right: 1px solid rgba(255, 255, 255, 0.25);
            padding-right: 10vw;
            
            svg {
                width: 15vw;
                height: auto;
                margin-left: -1.5vw;
            }

            .address {
                flex-direction: column;
                color: rgba(255, 255, 255, 0.5);
            }
            
            .contact {
                flex-direction: column;
                color: white;
                font-weight: bold;
                margin-top: 1vw;
            }
        }

        .links {
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            padding-left: 7vw;

            .menu-title {
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
        }

        .news {
            flex-direction: column;
            color: white;
            align-self: center;
            gap: 1vw;
            align-items: flex-end;
            width: 40vw;

            .news-title {
                font-weight: 700;
            }

            .news-a {
                color: $darkbluebutton-color;
                background-color: white;
                padding: 0.25vw 1vw;
                font-weight: 300;
                text-decoration: none;
            }

            p {
                text-align: justify;
            }
        }
    }

    .bottom-content {
        width: 100%;
        justify-content: space-between;
        color: rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        padding: 1vw 0;

        .icons {
            gap: 2vw;

            svg {
                width: 2vw;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .Footer-Component {
        padding-top: 6vw;
        padding-bottom: 0;
        font-size: 4vw;
    
    .top-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    
            .info {
                margin-bottom: 12vw;
                
                svg {
                    width: 50vw;
                    margin-left: 12vw;
                }
    
                .address {
                    margin-bottom: 4vw;
                }
            }
    
            .links {
                margin-bottom: 12vw;
                width: 80%;
                padding: 0;
    
                section:nth-child(even){
                    a{
                        text-align: end;
                    }
                }
            }
    
            .news {
                align-items: flex-start;
                width: 100%;
    
                .news-title {
                    margin-bottom: 1vw;
                }
    
                .news-a {
                    align-self: flex-end;
                    padding: 2vw 6vw;
                }
    
                p {
                    text-align: start;
                }
            }
        }
    
        .bottom-content {
            align-items: center;
            flex-direction: column-reverse;
            margin-top: 6vw;
            border-top: none;
            gap: 6vw;
    
            .icons {
                gap: 8vw;
    
                svg {
                    width: 10vw;
                    height: 10vw;
                }
            }

            p {
                font-size: 3vw;
                text-align: center;
            }
        }
    }
}