@import '/src/sass/colors';

.buttons-container {
    width: 100%;
    height: max-content;
    justify-content: space-between;
    gap: 3vw;
    margin-top: 3vw;
    
    button {
        font-size: 1.5vw;
        height: auto;
        padding: 0.25vw;
        width: 12vw;
    }
}