@import '/src/sass/colors';

.StickyHomeButton-Component {
    display: flex;
    position: sticky;
    width: 3vw;
    min-height: 3vw;
    height: 3vw;
    bottom: 1vw;
    left: 3.25vw;
    background-color: $primary-color;
    justify-content: center;
    align-items: center;
    outline: 2px solid white;

    svg {
        width: 1vw;
        height: 1vw;
        transform: rotate(-90deg);
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(72deg) brightness(110%) contrast(101%);
    }
}

@media only screen and (max-width: 600px) {
    .StickyHomeButton-Component {
        width: 10vw;
        min-height: 10vw;
        height: 10vw;
        left: 1vw;
    
        svg {
            width: 5vw;
            height: 5vw;
        }
    }
}