@import '/src/sass/colors';

.Links-Page {

    .main-container {
        width: 100vw;
        background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
        padding: 5vw 0;

        button {
            padding: 0.5vw;
            width: 30vw;
        }
    }
}