@import '/src/sass/colors';

.Links-Page {

    .main-container {
        flex-direction: column;
        align-items: center;
        height: 60vw;

        .logo {
            margin: 2vw 0 0;
            width: 30vw;
            height: 20vw;
        }
    }

    .links-container {
        width: 100vw;
        // background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
        margin-top: 6vw;
        margin-bottom: 13vw;

        button {
            padding: 0.5vw;
            width: 30vw;
        }

        .socials-icons {
            gap: 5vw;

            svg {
                width: auto;
                height: 3vw;
                cursor: pointer;
            }
            
        }
    }

    .white-background {
        position: absolute;
        background-color: white;
        left: 0;
        top: 23vw;
        width: 100vw;
        height: 30vw;
        z-index: -1;
        box-shadow: 0 1vw 2vw 0 #00000040;

        transform: skew(0, -12deg);
    }

    .top-blue-background {
        position: absolute;
        background-color: $primary-color;
        left: 0;
        top: 23vw;
        width: 100vw;
        height: 25vw;
        z-index: -2;

        transform: skew(0, 12deg);
    }

    .bottom-blue-background {
        position: absolute;
        background-color: $primary-color;
        left: 0;
        top: 50vw;
        width: 100vw;
        height: 25vw;
        z-index: -1;

        transform: skew(0, -12deg);
    }
}

@media only screen and (max-width: 600px) {
    .Links-Page {

        .main-container {
            margin-top: 12vw;
            margin-bottom: 8vw;
    
            .logo {
                width: 60vw;
                height: 40vw;
            }
        }
    
        .links-container {
            gap: 4vw;
            margin-top: 18vw;
    
            button {
                font-size: 5vw;
                padding: 2vw;
                width: 80vw;
            }
    
            .socials-icons {
    
                svg {
                    height: 9vw;
                }
                
            }
        }
    
        .white-background {
            top: 60vw;
            height: 80vw;
    
            transform: skew(0, -12deg);
        }
    
        .top-blue-background {
            top: 60vw;
            height: 45vw;
    
        }
    
        .bottom-blue-background {
            top: 136vw;
            height: 45vw;
    
        }
    }
}