@import '/src/sass/colors';

.Validations-Component {
    gap: 1vw;
    width: 25%;
    overflow-y: auto;
   
    .header{
        box-shadow: none !important;
        width: 80%;
        gap: 0.6vw;
        padding: 0 !important;

        button{
            width: 12%;
            color: #384974;
            border: 0.1vw solid #384974;
             background-color: #ffffff;
        }

    }
    .title{
        font-weight: 500;
        font-size: 1vw;
        color: #333333;
    }

    .name{
        font-weight: 600;
        color: #384974;
        font-size: 1.0vw;
    }

    .attach{
        font-weight: 300;
        color: #384974;
        font-size: 1vw;;
    }

    .description{
        color: #737373;
        font-weight: 300;
        font-size: 0.8vw;
    }

    button{
        padding: 0;
        font-weight: 400;
        font-size: 0.7vw;
        width: 8vw;
        height: 1.7vw;
        border-radius: 1vw;
    }

    .info-container{
        flex-direction: column;
        gap: 0.9vw;
        
    }
    .one-column{
        width: 100%;
        height: 12vw;
        padding: 1.5vw;

    }

    .Card-Component{
        width: 100%;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25); 
        
    }

    .file{
        width: 25%;
        
        flex-direction: column;
        gap: 1vw;
        box-shadow: none !important;
    }

    .approved{
        .name{
            color:#737373;
        }

        .attach{
            color:#737373;
        }

        .button{
            background-color: #737373 !important;
        }
    }

    .drag{
        padding: 2vw;
        border: 0.015vw dashed;
        height: 9vw;
        color: #737373;
        align-items: center;
    }   

    .columns{
        box-shadow: none !important;
        gap: 2vw;
        padding: 0 !important;

        .file {
            flex-direction: column;
        }
    }
    
}