@import '/src/sass/colors';

.Formulario-Component {
    width: 100%;

    form {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .input-container {
            flex: 0.48;
            flex-direction: column;
            justify-content: space-between;

            button {
                width: 10vw;
                height: 3vw;
                margin-top: 5vw;
            }

        }
    }
}