@import '/src/sass/colors';

// collumn list
.react-kanban-board > div {
    display: flex;
    gap: 1vw;
    width: 100%;
    max-height: 80vh;
    padding-bottom: 5vw;
    overflow-y: auto;

    // each column
    .react-kanban-column {
        display: flex!important;
        flex-direction: column;
        width: 30%;
        gap: 2vw;
        border: 1px solid $primary-color;
        box-shadow: 2px 2px 5px $primary-color;
        padding: 1vw;

        // add button
        .react-kanban-card-adder-button {
            display: none
        }

        // cards list
        > div {
            display: flex;
            flex-direction: column;
            gap: 1vw;
        }
    }
}