@import '/src/sass/colors';

.Background-Component {
    position: absolute;    
    z-index: -2;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        margin-top: -6.5vw;
        filter: saturate(3) contrast(1) brightness(0.6);
    }

}